.div {
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  left: -10px;
  min-height: auto;
  background: #f5f6fa;
  padding: 20px;
}

.investment-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.stats-cards,
.financial-section {
  display: flex;
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.small_card {
  height: 100px;
  background: #ffffff;
  padding: 20px;
}

.gradient-card {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
}

.positive {
  color: #16a34a;
}

.negative {
  color: #dc2626;
}

.charts-section {
  display: flex;
  gap: 20px;
}

.chart-card {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
