.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.auth-left {
  flex: 1;
  margin-top: -30px;
  background: linear-gradient(to bottom right, #1a3b5d, #007bff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  width: 50vw;
  height: 100%;
}

.auth-right {
  flex: 1;
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.auth-right h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.auth-right form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.auth-right input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-right button {
  background: linear-gradient(#284974, #001128);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 108%;
  margin-top: 10px;
  transition: background 0.3s;
}

.auth-right button:hover {
  background: linear-gradient(#284974, #001128);
}

.google-signup {
  margin: 15px 0;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
  border-radius: 5px;
}

.google-button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.auth-right p {
  margin-top: 10px;
}

.auth-right a {
  background: linear-gradient(360deg, #284974, #001128);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.auth-right a:hover {
  text-decoration: underline;
}

.finance-graph {
  width: 28%;
  position: absolute;
  top: 290px;
  bottom: -80px;
}

.auth-left h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom:-10px;
  margin-top: -200px;
}
